.form-section{
    width: 100%;
    margin-top: 100px;
}
.form-section h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    padding: 25px;
    margin: 25px;
  
    width: 600px;
    
}
input, textarea {
    width: 500px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--rose-color);
    outline: none;
    resize: none;
}
input::placeholder {
    color: var(--blue-color);
    
}
