.footer-container{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-icons{
    margin-bottom: 50px;

}


.footer-icons a{
    font-size: 30px;
    padding: 25px;
}

.footer-text h5{
    background-color: black;
    color: white;
}



.arrow{
    background: transparent;
}